Repository robot-rumble/logic: changes, and which Semaphore blocks are due for each by the changed paths.
All: lang-runners, browser-runner, lambda-runner

lang-runners:
  prologue:
    commands:
    - cache restore lang-runners
    - git submodule update --init
    - rustup target install wasm32-wasi
    - curl https://get.wasmer.io -sSfL | sh
    - source /home/circleci/.wasmer/wasmer.sh
    - sudo apt install -y python python-pip python-setuptools
  ...

browser-runner:
  prologue:
    commands:
    - cache restore browser-runner
    - curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
  jobs:
  - name: Build
    commands:
    - bash build-wasm.sh --browser
  epilogue:
    on_pass:
      commands:
      - aws s3 sync wasm-dist s3://dev-battle-runner
  ...

lambda-runner:
  prologue:
    commands:
    - cache restore lambda-runner
    - rustup target install x86_64-unknown-linux-musl
    - aws s3 sync s3://dev-battle-runner/lang-runners ./wasm-dist/lang-runners
  jobs:
  - name: Build and Upload to S3
    commands:
    - bash build-lambda.sh --deploy --prod
  epilogue:
    on_pass:
  ...

Use variable for S3 bucket and fix lambda
  .semaphore/semaphore.yml
  build-lambda.sh
Due: none

Disable useless caches
  .semaphore/semaphore.yml
Due: none

Update stdlibs
  lang-runners/javascript/stdlib.js
  lang-runners/python/stdlib.py
Due: lang-runners, lambda-runner

Fix comments
  .semaphore/semaphore.yml
Due: none

Install wasienv from the git repository
  .semaphore/semaphore.yml
Due: none

mini cleanup
  .gitignore
  build-wasm.sh
  env-runners/native/src/lib.rs
Due: lambda-runner

Switch back to default allocator
  env-runners/lambda/Cargo.toml
  env-runners/lambda/src/main.rs
Due: lambda-runner

Add mimalloc
  Cargo.lock
  env-runners/lambda/Cargo.toml
  env-runners/lambda/src/main.rs
Due: lambda-runner

Fix building mimalloc
  .cargo/config
  Cross.toml
Due: none

Remove Cross config
  Cross.toml
Due: none

Update CI to match new S3 setup
  .semaphore/semaphore.yml
Due: none

Fix opposite() property call
  lang-runners/javascript/stdlib.js
  lang-runners/python/stdlib.py
Due: lang-runners, lambda-runner

Disable CI cache
  .semaphore/semaphore.yml
Due: none

Fix aws not being defined
  .semaphore/semaphore.yml
Due: none

Enable bash 'strict mode'
  build-lambda.sh
  build-wasm.sh
Due: none

Fix typo
  .semaphore/semaphore.yml
Due: none

Add type checking to 'debug' function
  lang-runners/javascript/stdlib.js
  lang-runners/python/stdlib.py
Due: lang-runners, lambda-runner

Move formatting implementation out of logic module
  logic/src/types.rs
Due: browser-runner, lambda-runner

Fix python coords representation
  lang-runners/python/stdlib.py
Due: lang-runners, lambda-runner

Upate to newest wasi-process
  Cargo.lock
Due: none

Update to rustpython master
  Cargo.lock
  lang-runners/python/Cargo.toml
Due: lang-runners, lambda-runner

Try mimalloc
  Cargo.lock
  env-runners/lambda/Cargo.toml
  env-runners/lambda/src/main.rs
Due: lambda-runner

Correct the turn count
  env-runners/lambda/src/main.rs
Due: lambda-runner

Add an output to use for lambda tagging
  Cargo.lock
  env-runners/lambda/src/main.rs
Due: lambda-runner

Add an output to use for lambda tagging
  env-runners/lambda/src/main.rs
Due: lambda-runner

Add an output to use for lambda tagging
  runners/lambda/src/main.rs
Due: none

Update rustpython again
  Cargo.lock
Due: none

Change the order of team colors
  logic/src/lib.rs
Due: browser-runner, lambda-runner

Fix instant crate import env.now
  Cargo.lock
  Cargo.toml
  build-wasm.sh
  lang-runners/python/Cargo.toml
Due: lang-runners, lambda-runner

Add colors to build-wasm
  build-wasm.sh
Due: none

Add lodash
  lang-runners/javascript/.gitignore
  lang-runners/javascript/Makefile
  lang-runners/javascript/jsrunner.c
  lang-runners/javascript/lodash/.gitignore
  lang-runners/javascript/lodash/Makefile
  lang-runners/javascript/lodash/package.json
  lang-runners/javascript/lodash/yarn.lock
Due: lang-runners, lambda-runner

Add console.log
  lang-runners/javascript/stdlib.js
Due: lang-runners, lambda-runner

Add error location for js
  lang-runners/javascript/stdlib.js
Due: lang-runners, lambda-runner

Install node/yarn in semaphore to accommodate lodash setup
  .semaphore/semaphore.yml
Due: none

Update to the latest rustpython master, try making it faster?
  Cargo.lock
  lang-runners/python/Cargo.toml
Due: lang-runners, lambda-runner

WIP refactor types
  lang-runners/lang-common.rs
  lang-runners/python/src/main.rs
  logic/src/lib.rs
  logic/src/types.rs
Due: lang-runners, browser-runner, lambda-runner

Use the new ProgramResult in stdlibs/runners
  env-runners/browser/src/lib.rs
  env-runners/native/src/lib.rs
  lang-runners/javascript/stdlib.js
  lang-runners/python/stdlib.py
  logic/src/lib.rs
  logic/src/types.rs
Due: lang-runners, browser-runner, lambda-runner

Update to use ProgramResult in runners
  env-runners/native/src/lib.rs
  lang-runners/javascript/jsrunner.c
  lang-runners/javascript/stdlib.js
  lang-runners/lang-common.h
  lang-runners/python/stdlib.py
Due: lang-runners, lambda-runner

Path conditions:
  lang-runners: any of: lang-runners/
  browser-runner: any of: logic/, env-runners/browser/
  lambda-runner: any of: logic/, lang-runners/, env-runners/native/, env-runners/lambda/
