Repository robot-rumble/logic: changes, and which Semaphore blocks are due for each by the changed paths.
All: lang-runners, browser-runner, lambda-runner

lang-runners:
  prologue:
    commands:
    - rustup target install wasm32-wasi
  jobs:
  - name: Build Javascript
    commands:
    - git submodule update --init
    - curl https://get.wasmer.io -sSfL | sh
    - source ~/.wasmer/wasmer.sh
    - sudo apt install -y python python-pip python-setuptools
  ...

browser-runner:
  prologue:
    commands:
    - curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
  jobs:
  - name: Build
    commands:
    - bash build-wasm.sh --browser
  epilogue:
    on_pass:
      commands:
      - aws s3 sync wasm-dist/browser-runner s3://${S3_BUCKET_BUILD}/browser-runner

lambda-runner:
  prologue:
    commands:
    - rustup target install x86_64-unknown-linux-musl
    - aws s3 sync s3://${S3_BUCKET_PUBLIC}/lang-runners wasm-dist/lang-runners
  jobs:
  - name: Build and Upload to S3
    commands:
    - S3_BUCKET=${S3_BUCKET_BUILD} FUNCTION_NAME=battle-runner bash build-lambda.sh --deploy --prod

Fix lambda debugging messages for real
  env-runners/lambda/src/main.rs
Due: lambda-runner

Update RustPython
  Cargo.lock
Due: none

Force python runner rebuild
  lang-runners/python/stdlib.py
Due: lang-runners, lambda-runner

Update the lambda script
  .semaphore/semaphore.yml
  _scripto.sh
  build-lambda.sh
  build-wasm.sh
  env-runners/lambda/build-cache/src/main.rs
Due: lambda-runner

Fix semaphore
  .semaphore/semaphore.yml
Due: none

Fix semaphore again
  .semaphore/semaphore.yml
Due: none

Always run build-lambda --wasm-layer after the runners have built
  .semaphore/semaphore.yml
Due: none

Actually build wasm-layer after lang-runners
  .semaphore/semaphore.yml
Due: none

Get rid of experimental thing
  build-lambda.sh
Due: none

Add movement conflict resolution
  logic/src/lib.rs
Due: browser-runner, lambda-runner

Update rustpython to master
  Cargo.lock
  lang-runners/python/Cargo.toml
Due: lang-runners, lambda-runner

Change how lambda output is logged
  env-runners/lambda/src/main.rs
Due: lambda-runner

Change lambda-cache dir structure and add semaphore change_in integration
  .semaphore/semaphore.yml
  Cargo.lock
  Cargo.toml
  build-lambda.sh
  env-runners/lambda-cache/Cargo.toml
  env-runners/lambda-cache/src/main.rs
Due: none

Add lambda test payload script
  env-runners/lambda/prepare-test-payload.py
Due: lambda-runner

Pass `turn_num` as an argument into lambda
  env-runners/lambda/src/main.rs
Due: lambda-runner

Fix wait_pids exiting the process
  _scripto.sh
Due: none

Fix semaphore wasm-layer inconsistency and lack of deploy flag
  .semaphore/semaphore.yml
Due: none

Fix typo
  .semaphore/semaphore.yml
Due: none

Only add debug_tables to state if they actually contain something
  lang-runners/javascript/stdlib.js
  lang-runners/python/stdlib.py
Due: lang-runners, lambda-runner

Change what state data is included in output
  logic/src/lib.rs
  logic/src/types.rs
Due: browser-runner, lambda-runner

Add gzip compression
  Cargo.lock
  env-runners/lambda/Cargo.toml
  env-runners/lambda/src/main.rs
Due: lambda-runner

Write message_body as a base64 gzip string
  Cargo.lock
  env-runners/lambda/Cargo.toml
  env-runners/lambda/src/main.rs
Due: lambda-runner

Have lambda logs take up one line to work better with CloudWatch
  env-runners/lambda/src/main.rs
Due: lambda-runner

Fix logic teams => backend teams conversion
  env-runners/lambda/src/main.rs
Due: lambda-runner

Add new `turn_num` field to `prepare-test-payload.py`
  env-runners/lambda/prepare-test-payload.py
Due: lambda-runner

Catch `init_turn` exceptions
  lang-runners/javascript/stdlib.js
  lang-runners/python/stdlib.py
Due: lang-runners, lambda-runner

Fix some minor python stdlib issues
  lang-runners/python/stdlib.py
Due: lang-runners, lambda-runner

Add .mypy_cache to gitignore
  .gitignore
Due: none

Fix bug with incomplete team map
  logic/src/lib.rs
Due: browser-runner, lambda-runner

Fix xByCoords coords being reversed
  lang-runners/javascript/stdlib.js
  lang-runners/python/stdlib.py
Due: lang-runners, lambda-runner

Decrease the number of robots that spawn per team
  logic/src/lib.rs
Due: browser-runner, lambda-runner

Fix North and South being switched in JS
  lang-runners/javascript/stdlib.js
Due: lang-runners, lambda-runner

Fix invalid enum construction causing a panic
  Cargo.lock
  lang-runners/python/Cargo.toml
Due: lang-runners, lambda-runner

Add gc calls to jsrunner
  lang-runners/javascript/jsrunner.c
Due: lang-runners, lambda-runner

Only run gc every 10 turns
  lang-runners/javascript/jsrunner.c
Due: lang-runners, lambda-runner

Add json schema gen for logic types
  logic/Cargo.toml
  logic/src/gen_schema.rs
  logic/src/types.rs
Due: browser-runner, lambda-runner

Rewrite stdlib.js in typescript
  .gitignore
  Cargo.lock
  lang-runners/javascript/.gitignore
  lang-runners/javascript/Makefile
  lang-runners/javascript/lodash/.gitignore
  lang-runners/javascript/lodash/Makefile
  lang-runners/javascript/lodash/lodash.bundle.js
  lang-runners/javascript/lodash/package.json
  lang-runners/javascript/lodash/yarn.lock
  lang-runners/javascript/package.json
  lang-runners/javascript/stdlib.ts
  lang-runners/javascript/tsconfig.json
  lang-runners/javascript/yarn.lock
  logic/Cargo.toml
  logic/src/lib.rs
  logic/src/types.rs
Due: lang-runners, browser-runner, lambda-runner

Make a PyPI package for the stdlib
  .gitignore
  lang-runners/python/build.rs
  lang-runners/python/src/main.rs
  lang-runners/python/stdlib/LICENSE
  lang-runners/python/stdlib/README.md
  lang-runners/python/stdlib/rumblelib.py
  lang-runners/python/stdlib/setup.py
Due: lang-runners, lambda-runner

Update rustpython
  Cargo.lock
  lang-runners/python/Cargo.toml
  lang-runners/python/src/main.rs
Due: lang-runners, lambda-runner

Don't clone as much, don't round trip JSON 3 times lol
  Cargo.lock
  env-runners/browser/src/lib.rs
  env-runners/native/src/lib.rs
  lang-runners/lang-common.rs
  lang-runners/python/src/main.rs
  logic/Cargo.toml
  logic/src/lib.rs
  logic/src/types.rs
Due: lang-runners, browser-runner, lambda-runner

Path conditions:
  lang-runners: any of: lang-runners/
  browser-runner: any of: logic/, env-runners/browser/
  lambda-runner: any of: logic/, lang-runners/, env-runners/native/, env-runners/lambda/
