Repository robot-rumble/logic: changes, and which Semaphore blocks are due for each by the changed paths.
All: lang-runners, wasm-layer, browser-runner, lambda-runner

.semaphore/semaphore.yml:

version: "v1.0"
name: Logic

agent:
  machine:
    type: e1-standard-2
  containers:
    - name: main
      image: circleci/rust:latest

global_job_config:
  env_vars:
    - name: S3_BUCKET_BUILD
      value: rr-build-files
    - name: S3_BUCKET_PUBLIC
      value: rr-public-assets
  secrets:
    - name: aws
  prologue:
    commands:
      - checkout
      - sudo apt install -y awscli

blocks:
  - name: lang-runners
    dependencies: []
    run:
      when: "change_in('/lang-runners/')"
    task:
      jobs:
        - name: Build Javascript
          commands:
            - git submodule update --init
            # install https://wasmer.io/
            - curl https://get.wasmer.io -sSfL | sh -s 0.17.1 # newest alpha has a glibc issue on debian buster
            - source ~/.wasmer/wasmer.sh
            # install https://github.com/wasienv/wasienv#install
            - sudo apt install -y python python-pip python-setuptools
            - pip install git+https://github.com/wasienv/wasienv
            - wasienv install-sdk latest
            # install nodejs
            - curl -sL https://deb.nodesource.com/setup_14.x | sudo -E bash -
            - sudo apt install -y nodejs
            # install yarn
            - curl -sS https://dl.yarnpkg.com/debian/pubkey.gpg | sudo apt-key add -
            - echo "deb https://dl.yarnpkg.com/debian/ stable main" | sudo tee /etc/apt/sources.list.d/yarn.list
            - sudo apt update && sudo apt install -y yarn
            - bash build-wasm.sh --javascript
        - name: Build Python
          commands:
            - rustup target install wasm32-wasi
            - bash build-wasm.sh --python
      epilogue:
        on_pass:
          commands:
            - aws s3 sync wasm-dist/lang-runners s3://${S3_BUCKET_PUBLIC}/lang-runners

  - name: wasm-layer
    dependencies: [lang-runners]
    run:
      when: "change_in(['/lang-runners/', '/env-runners/lambda-cache/'])"
    task:
      jobs:
        - name: Build and Upload to S3
          commands:
            - aws s3 sync s3://${S3_BUCKET_PUBLIC}/lang-runners wasm-dist/lang-runners
            # install llvm
            - sudo apt install -y lsb-release wget software-properties-common
            - sudo bash -c "$(wget -O - https://apt.llvm.org/llvm.sh)"
            - S3_BUCKET=${S3_BUCKET_BUILD} FUNCTION_NAME=battle-runner bash build-lambda.sh --deploy --prod --wasm-layer

  - name: browser-runner
    dependencies: []
    run:
      when: "change_in(['/logic/', '/env-runners/browser/'])"
    task:
      prologue:
        commands:
          # install https://rustwasm.github.io/wasm-pack/installer/
          - curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
      jobs:
        - name: Build
          commands:
            - bash build-wasm.sh --browser
      epilogue:
        on_pass:
          commands:
            - aws s3 sync wasm-dist/browser-runner s3://${S3_BUCKET_BUILD}/browser-runner

  - name: lambda-runner
    dependencies: []
    run:
      when: "change_in(['/logic/', '/env-runners/native/', '/env-runners/lambda/'])"
    task:
      prologue:
        commands:
          - rustup target install x86_64-unknown-linux-musl
      jobs:
        - name: Build and Upload to S3
          commands:
            - S3_BUCKET=${S3_BUCKET_BUILD} FUNCTION_NAME=battle-runner bash build-lambda.sh --deploy --prod --lambda

Semaphore
  .semaphore/semaphore.yml
Due: none

Semaphore
  .semaphore/semaphore.yml
  env-runners/lambda/Cargo.toml
Due: lambda-runner

Revert "Upgrade everything"
  Cargo.lock
  env-runners/browser/Cargo.toml
  env-runners/native/Cargo.toml
  lang-runners/python/Cargo.toml
  logic/Cargo.toml
Due: lang-runners, wasm-layer, browser-runner, lambda-runner

Semaphore
  lang-runners/python/Cargo.toml
Due: lang-runners, wasm-layer

Return most of semaphore
  .semaphore/semaphore.yml
Due: none

Semaphore
  .semaphore/semaphore.yml
  Cargo.lock
Due: none

Add musl
  .semaphore/semaphore.yml
Due: none

Update rustpython
  Cargo.lock
  lang-runners/python/Cargo.toml
  lang-runners/python/src/main.rs
Due: lang-runners, wasm-layer

Add is_spawn function
  lang-runners/javascript/stdlib.js
  lang-runners/python/stdlib/rumblelib.py
Due: lang-runners, wasm-layer

Reenable semaphore python pipeline
  .semaphore/semaphore.yml
Due: none

Increment rust version
  .semaphore/semaphore.yml
Due: none

Attempt fix
  .semaphore/semaphore.yml
  Cargo.lock
  env-runners/lambda-cache/Cargo.toml
  env-runners/lambda-cache/src/main.rs
Due: wasm-layer

Update lambda
  Cargo.lock
  env-runners/lambda/Cargo.toml
  env-runners/lambda/src/main.rs
Due: lambda-runner

Fix file extension
  env-runners/lambda/src/main.rs
Due: lambda-runner
