Repository robot-rumble/logic: changes, and which Semaphore blocks are due for each by the changed paths.
All: lang-runners, wasm-layer, browser-runner, lambda-runner

lang-runners:
  jobs:
  - name: Build Javascript
    commands:
    - git submodule update --init
    - curl https://get.wasmer.io -sSfL | sh -s 0.17.1
    - source ~/.wasmer/wasmer.sh
    - sudo apt install -y python python-pip python-setuptools
    - pip install git+https://github.com/wasienv/wasienv
  ...

wasm-layer:
  jobs:
  - name: Build and Upload to S3
    commands:
    - aws s3 sync s3://${S3_BUCKET_PUBLIC}/lang-runners wasm-dist/lang-runners
    - sudo apt install -y lsb-release wget software-properties-common
    - sudo bash -c "$(wget -O - https://apt.llvm.org/llvm.sh)"
  ...

browser-runner:
  prologue:
    commands:
    - curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
  jobs:
  - name: Build
    commands:
    - bash build-wasm.sh --browser
  epilogue:
    on_pass:
      commands:
      - aws s3 sync wasm-dist/browser-runner s3://${S3_BUCKET_BUILD}/browser-runner

lambda-runner:
  prologue:
    commands:
    - rustup target install x86_64-unknown-linux-musl
  jobs:
  - name: Build and Upload to S3
    commands:
    - S3_BUCKET=${S3_BUCKET_BUILD} FUNCTION_NAME=battle-runner bash build-lambda.sh --deploy --prod --lambda

Add image to README
  README.md
Due: none

Update image
  README.md
Due: none

Update lambda layer name
  build-lambda.sh
Due: none

Add Sentry to lambda
  Cargo.lock
  env-runners/lambda/Cargo.toml
  env-runners/lambda/src/main.rs
Due: lambda-runner

Fix lambda
  env-runners/lambda/src/main.rs
Due: lambda-runner

Fix lambdan
  env-runners/lambda/src/main.rs
Due: lambda-runner

Update layer on function update
  build-lambda.sh
Due: none

Add saucelabs matrix
  README.md
Due: none

Fix suacelabs matrix
  README.md
Due: none

Fix browser matrix
  README.md
Due: none

Regenerate badge
  README.md
Due: none

Update timeout
  env-runners/lambda/src/main.rs
Due: lambda-runner

Don't update wasm layer on every code update
  build-lambda.sh
Due: none

Display Lambda input as JSON instead of Rust object
  env-runners/lambda/src/main.rs
Due: lambda-runner

Fix
  env-runners/lambda/src/main.rs
Due: lambda-runner

Replace final `?` with `.unwrap()` to hopefully fix error not being logged to Lambda
  env-runners/lambda/src/main.rs
Due: lambda-runner

Add `board_id` to lambda test JSON generation script
  env-runners/lambda/prepare-test-payload.py
Due: lambda-runner

Use different SauceLabs badge
  README.md
Due: none

Change team unit number to 4
  logic/src/lib.rs
Due: browser-runner, lambda-runner

Slightly modify spawn point locations
  logic/src/lib.rs
Due: browser-runner, lambda-runner

Improve main turn loop structure and clear on spawn
  logic/src/lib.rs
Due: browser-runner, lambda-runner

New `logic::run` `dev_mode` argument
  env-runners/browser/src/lib.rs
  env-runners/lambda/src/main.rs
  logic/src/lib.rs
Due: browser-runner, lambda-runner

Implement new compression model
  Cargo.lock
  env-runners/lambda/Cargo.toml
  env-runners/lambda/src/main.rs
Due: lambda-runner

Start turns at 1
  logic/src/lib.rs
Due: browser-runner, lambda-runner

Don't save debug.locate values for matchmaker battles
  logic/src/lib.rs
Due: browser-runner, lambda-runner

Fix team unit number
  logic/src/lib.rs
Due: browser-runner, lambda-runner

Make timeouts per-turn
  Cargo.lock
  env-runners/browser/src/lib.rs
  env-runners/lambda/src/main.rs
  env-runners/native/Cargo.toml
  env-runners/native/src/lib.rs
  logic/src/lib.rs
Due: browser-runner, lambda-runner

Improve debug logs by printing pr ids
  env-runners/lambda/src/main.rs
Due: lambda-runner

Fix timeout error being ignored
  env-runners/lambda/src/main.rs
Due: lambda-runner

Allow for customizing certain simulation settings
  env-runners/browser/src/lib.rs
  env-runners/lambda/src/main.rs
  logic/src/lib.rs
  logic/src/types.rs
Due: browser-runner, lambda-runner

Increase turn timeout
  env-runners/lambda/src/main.rs
Due: lambda-runner

Add apt update to ci
  .semaphore/semaphore.yml
Due: none

Change python packages to be explicitly python3
  .semaphore/semaphore.yml
Due: none

Add `rustup update`
  .semaphore/semaphore.yml
Due: none

Bring back update after installing yarn
  .semaphore/semaphore.yml
Due: none

Update cargo lockfile
  Cargo.lock
Due: none

Disable python runner building for now
  .semaphore/semaphore.yml
Due: none

Path conditions:
  lang-runners: any of: lang-runners/
  wasm-layer: any of: lang-runners/, env-runners/lambda-cache/
  browser-runner: any of: logic/, env-runners/browser/
  lambda-runner: any of: logic/, env-runners/native/, env-runners/lambda/
