Repository robot-rumble/logic: changes, and which Semaphore blocks are due for each by the changed paths.
All: lang-runners, wasm-layer, browser-runner, lambda-runner

lang-runners:
  jobs:
  - name: Build Javascript
    commands:
    - git submodule update --init
    - curl https://get.wasmer.io -sSfL | sh -s 0.17.1
    - source ~/.wasmer/wasmer.sh
    - sudo apt install -y python3 python3-pip python3-venv python3-setuptools
    - python3 -m venv env
    - source env/bin/activate
  ...

wasm-layer:
  jobs:
  - name: Build and Upload to S3
    commands:
    - aws s3 sync s3://${S3_BUCKET_PUBLIC}/lang-runners wasm-dist/lang-runners
    - wget --no-check-certificate -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
  ...

browser-runner:
  prologue:
    commands:
    - curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
  jobs:
  - name: Build
    commands:
    - bash build-wasm.sh --browser
  epilogue:
    on_pass:
      commands:
      - aws s3 sync wasm-dist/browser-runner s3://${S3_BUCKET_BUILD}/browser-runner

lambda-runner:
  prologue:
    commands:
    - rustup update
    - rustup target install x86_64-unknown-linux-musl
  jobs:
  - name: Build and Upload to S3
    commands:
    - sudo apt update && sudo apt install musl musl-tools musl-dev
  ...

Upgrade everything
  Cargo.lock
  env-runners/browser/Cargo.toml
  env-runners/lambda/Cargo.toml
  env-runners/native/Cargo.toml
  lang-runners/python/Cargo.toml
  logic/Cargo.toml
Due: lang-runners, wasm-layer, browser-runner, lambda-runner

Fix errors
  env-runners/lambda-cache/src/main.rs
  env-runners/lambda/Cargo.toml
  env-runners/lambda/src/main.rs
  logic/Cargo.toml
  logic/src/types.rs
Due: wasm-layer, browser-runner, lambda-runner

Run cargo update
  Cargo.lock
Due: none

Change SPAWN_COORDS behavior
  lang-runners/javascript/stdlib.js
  lang-runners/python/stdlib/rumblelib.py
Due: lang-runners, wasm-layer

Update to wasmer 3
  Cargo.lock
  Cargo.toml
  env-runners/lambda-cache/Cargo.toml
  env-runners/lambda-cache/src/main.rs
  env-runners/lambda/Cargo.toml
  env-runners/lambda/src/main.rs
Due: wasm-layer, lambda-runner

Fix dependency
  Cargo.lock
  env-runners/lambda/Cargo.toml
Due: lambda-runner

Trigger ci
  Cargo.lock
  env-runners/lambda/Cargo.toml
Due: lambda-runner

Trigger ci
  Cargo.lock
  env-runners/lambda-cache/Cargo.toml
  env-runners/lambda/Cargo.toml
Due: wasm-layer, lambda-runner

Undo wasmer 3
  Cargo.lock
  Cargo.toml
  env-runners/lambda-cache/Cargo.toml
  env-runners/lambda-cache/src/main.rs
  env-runners/lambda/Cargo.toml
  env-runners/lambda/src/main.rs
Due: wasm-layer, lambda-runner

Revert "Undo wasmer 3"
  Cargo.lock
  Cargo.toml
  env-runners/lambda-cache/Cargo.toml
  env-runners/lambda-cache/src/main.rs
  env-runners/lambda/Cargo.toml
  env-runners/lambda/src/main.rs
Due: wasm-layer, lambda-runner

Initialize wasienv properly
  env-runners/lambda/src/main.rs
Due: lambda-runner

Fix js stdlib
  lang-runners/javascript/stdlib.js
Due: lang-runners, wasm-layer

Add new hill gamemode
  lang-runners/javascript/stdlib.js
  lang-runners/python/stdlib/rumblelib.py
  logic/src/lib.rs
  logic/src/types.rs
Due: lang-runners, wasm-layer, browser-runner, lambda-runner

Modify hill win condition
  logic/src/lib.rs
Due: browser-runner, lambda-runner

Fix python errors
  lang-runners/python/src/main.rs
  lang-runners/python/stdlib/rumblelib.py
  logic/src/lib.rs
Due: lang-runners, wasm-layer, browser-runner, lambda-runner

Fix missing module
  lang-runners/python/src/main.rs
Due: lang-runners, wasm-layer

Path conditions:
  lang-runners: any of: lang-runners/
  wasm-layer: any of: lang-runners/, env-runners/lambda-cache/
  browser-runner: any of: logic/, env-runners/browser/
  lambda-runner: any of: logic/, env-runners/native/, env-runners/lambda/
