Repository robot-rumble/logic: changes, and which Semaphore blocks are due for each by the changed paths.
All: lang-runners, browser-runner, lambda-runner

lang-runners:
  prologue:
    commands:
    - rustup target install wasm32-wasi
  jobs:
  - name: Build Javascript
    commands:
    - git submodule update --init
    - curl https://get.wasmer.io -sSfL | sh
    - source ~/.wasmer/wasmer.sh
    - sudo apt install -y python python-pip python-setuptools
  ...

browser-runner:
  prologue:
    commands:
    - curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
  jobs:
  - name: Build
    commands:
    - bash build-wasm.sh --browser
  epilogue:
    on_pass:
      commands:
      - aws s3 sync wasm-dist/browser-runner s3://${S3_BUCKET_BUILD}/browser-runner

lambda-runner:
  prologue:
    commands:
    - rustup target install x86_64-unknown-linux-musl
    - aws s3 sync s3://${S3_BUCKET_PUBLIC}/lang-runners wasm-dist/lang-runners
  jobs:
  - name: Build and Upload to S3
    commands:
    - S3_BUCKET=${S3_BUCKET_BUILD} FUNCTION_NAME=battle-runner bash build-lambda.sh --deploy --prod

Use BTreeMap over HashMap in most cases
  logic/src/lib.rs
  logic/src/types.rs
Due: browser-runner, lambda-runner

Fix js memleak
  Cargo.lock
  Cargo.toml
  lang-runners/javascript/jsrunner.c
  lang-runners/lang-common.h
  lang-runners/lang-common.rs
  lang-runners/python/Cargo.toml
  lang-runners/python/src/main.rs
  lang-runners/python/stdlib/rumblelib.py
Due: lang-runners, lambda-runner

Fix python memleaks, sorta
  lang-runners/python/stdlib/rumblelib.py
Due: lang-runners, lambda-runner

Update to rustpython master
  Cargo.lock
  lang-runners/python/src/main.rs
Due: lang-runners, lambda-runner

Update to latest rust
  .semaphore/semaphore.yml
Due: none

Pin wasmer at an older version
  .semaphore/semaphore.yml
Due: none

Fix btreemap in browser-runner
  env-runners/browser/src/lib.rs
Due: browser-runner

Use btreemap in lambda-runner as well
  env-runners/lambda/src/main.rs
Due: lambda-runner

Update wasmer command
  lang-runners/javascript/Makefile
Due: lang-runners, lambda-runner

Update rustpython version
  Cargo.lock
  lang-runners/python/Cargo.toml
  lang-runners/python/src/main.rs
Due: lang-runners, lambda-runner

Update qjs-wasi
  lang-runners/javascript/Makefile
Due: lang-runners, lambda-runner

Update rustpython
  Cargo.lock
Due: none

Upgrade a bunch of deps
  Cargo.lock
  env-runners/lambda-cache/Cargo.toml
  env-runners/lambda-cache/src/main.rs
  env-runners/lambda/Cargo.toml
  env-runners/lambda/src/main.rs
  env-runners/native/Cargo.toml
  env-runners/native/src/lib.rs
  logic/Cargo.toml
  logic/src/lib.rs
Due: browser-runner, lambda-runner

Fix nothing happening
  env-runners/native/src/lib.rs
Due: lambda-runner

Optimize logic
  logic/src/lib.rs
  logic/src/types.rs
Due: browser-runner, lambda-runner

Use FuturesUnordered
  logic/src/lib.rs
Due: browser-runner, lambda-runner

Generalize determine_winner to more teams
  logic/src/lib.rs
  logic/src/types.rs
Due: browser-runner, lambda-runner

Optimize create_team_map
  logic/src/lib.rs
  logic/src/types.rs
Due: browser-runner, lambda-runner

Update to wasi-process 0.3
  Cargo.lock
  env-runners/lambda/Cargo.toml
  env-runners/lambda/src/main.rs
  env-runners/native/src/lib.rs
  logic/src/lib.rs
Due: browser-runner, lambda-runner

Install llvm for building wasm layers
  .semaphore/semaphore.yml
Due: none

Fix llvm install
  .semaphore/semaphore.yml
Due: none

Fix llvm install
  .semaphore/semaphore.yml
  Cargo.lock
Due: none

Specify llvm 10
  .semaphore/semaphore.yml
Due: none

Update wasmer deps
  .semaphore/semaphore.yml
  Cargo.lock
Due: none

Update wasmer-deps
  Cargo.lock
Due: none

Install plain clang
  .semaphore/semaphore.yml
Due: none

Install llvm and clang
  .semaphore/semaphore.yml
Due: none

Man this is stupid
  .semaphore/semaphore.yml
Due: none

Switch to wasmer-engine-jit since dlopen isn't implemented on musl
  Cargo.lock
  env-runners/lambda-cache/Cargo.toml
  env-runners/lambda-cache/src/main.rs
  env-runners/lambda/Cargo.toml
  env-runners/lambda/src/main.rs
Due: lambda-runner

Switch artifacts to .wjit extension
  .semaphore/semaphore.yml
  env-runners/lambda-cache/src/main.rs
  env-runners/lambda/src/main.rs
Due: lambda-runner

Add board_id to lambda data
  env-runners/lambda/src/main.rs
Due: lambda-runner

Fix error in chrome
  env-runners/browser/src/lib.rs
Due: browser-runner

Rename the two debug methods
  lang-runners/javascript/stdlib.js
  lang-runners/python/stdlib/rumblelib.py
  logic/src/lib.rs
  logic/src/types.rs
Due: lang-runners, browser-runner, lambda-runner

Bring back llvm fix
  .semaphore/semaphore.yml
Due: none

Pin llvm to 11
  .semaphore/semaphore.yml
Due: none

Fix js stdlib bug
  lang-runners/javascript/stdlib.js
Due: lang-runners, lambda-runner

Add README
  README.md
Due: none

Path conditions:
  lang-runners: any of: lang-runners/
  browser-runner: any of: logic/, env-runners/browser/
  lambda-runner: any of: logic/, lang-runners/, env-runners/native/, env-runners/lambda/
