Repository robot-rumble/logic: changes, and which Semaphore blocks are due for each by the changed paths.
All: lang-runners, browser-runner, lambda-runner

.semaphore/semaphore.yml:

version: "v1.0"
name: Logic

agent:
  machine:
    type: e1-standard-2
  containers:
    - name: main
      image: circleci/rust:1.43.0

global_job_config:
  secrets:
    - name: aws
  prologue:
    commands:
      - checkout
      # lftp required to use caching
      - sudo apt install -y awscli lftp
      - cache restore rustup
      - cache restore cargo
  epilogue:
    commands:
      - cache store rustup ~/.rustup
      - cache store cargo ~/.cargo

blocks:
  - name: lang-runners
    dependencies: []
    run:
      when: "change_in('/lang-runners/')"
    task:
      prologue:
        commands:
          - cache restore lang-runners
          - git submodule update --init
          - rustup target install wasm32-wasi
          # install https://wasmer.io/
          - curl https://get.wasmer.io -sSfL | sh
          - source /home/circleci/.wasmer/wasmer.sh
          # install https://github.com/wasienv/wasienv#install
          - sudo apt install -y python python-pip python-setuptools
          - curl https://raw.githubusercontent.com/wasienv/wasienv/master/install.sh | sh
          - source ~/.wasienv/wasienv.sh
      jobs:
        - name: Build
          commands:
            - bash build-wasm.sh --langs
      epilogue:
        on_pass:
          commands:
            - aws s3 sync wasm-dist s3://dev-battle-runner
            - cache store lang-runners target

  - name: browser-runner
    dependencies: []
    run:
      when: "change_in(['/logic/', '/env-runners/browser/'])"
    task:
      prologue:
        commands:
          - cache restore browser-runner
          # install https://rustwasm.github.io/wasm-pack/installer/
          - curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
      jobs:
        - name: Build
          commands:
            - bash build-wasm.sh --browser
      epilogue:
        on_pass:
          commands:
            - aws s3 sync wasm-dist s3://dev-battle-runner
            - cache store browser-runner target

  - name: lambda-runner
    dependencies: [lang-runners]
    run:
      when: "change_in(['/logic/', '/lang-runners/', '/env-runners/native/', '/env-runners/lambda/'])"
    task:
      prologue:
        commands:
          - cache restore lambda-runner
          - rustup target install x86_64-unknown-linux-musl
          - aws s3 sync s3://dev-battle-runner/lang-runners ./wasm-dist/lang-runners
      jobs:
        - name: Build and Upload to S3
          commands:
            - bash build-lambda.sh --deploy --prod
      epilogue:
        on_pass:
          commands:
            - cache store lambda-runner target

Update browser-runner, pystdlib, and cargo deps
  env-runners/browser/src/lib.rs
  lang-runners/python/stdlib.py
Due: lang-runners, browser-runner, lambda-runner

Fix Python data output
  build-wasm.sh
  lang-runners/javascript/stdlib.js
  lang-runners/python/src/main.rs
Due: lang-runners, lambda-runner

Update browser-runner
  env-runners/browser/src/lib.rs
Due: browser-runner

Fix js error locations (?)
  lang-runners/javascript/jsrunner.c
  lang-runners/javascript/stdlib.js
  logic/src/lib.rs
Due: lang-runners, browser-runner, lambda-runner

Fix error message formatting
  lang-runners/javascript/stdlib.js
Due: lang-runners, lambda-runner

Update debug module in standard libraries
  lang-runners/javascript/stdlib.js
  lang-runners/python/stdlib.py
Due: lang-runners, lambda-runner

Addd wasmer compilation caching to lambda-runner
  Cargo.lock
  Cargo.toml
  build-lambda.sh
  env-runners/lambda/Cargo.toml
  env-runners/lambda/build-cache/Cargo.toml
  env-runners/lambda/build-cache/src/main.rs
  env-runners/lambda/src/main.rs
Due: lambda-runner

Fix an issue with incorrect state data being passed to the main JS robot function
  lang-runners/javascript/stdlib.js
Due: lang-runners, lambda-runner

Fix some stdlib issues
  lang-runners/javascript/stdlib.js
  lang-runners/python/stdlib.py
Due: lang-runners, lambda-runner

Spawn units of opposing teams in a mirrored way
  logic/src/lib.rs
Due: browser-runner, lambda-runner

Change the timing of when the state is updated
  logic/src/lib.rs
Due: browser-runner, lambda-runner

Add a newline to the end of `console.log` logs
  lang-runners/javascript/stdlib.js
Due: lang-runners, lambda-runner

Stop the 'logs' field from containing a single empty string when there are no logs
  env-runners/browser/src/lib.rs
Due: browser-runner

Update lambda `winner` field to match new backend scheme
  env-runners/lambda/src/main.rs
Due: lambda-runner

Use hashmaps consistently for teams/runners
  Cargo.lock
  env-runners/browser/Cargo.toml
  env-runners/browser/src/lib.rs
  env-runners/lambda/Cargo.toml
  env-runners/lambda/src/main.rs
  logic/Cargo.toml
  logic/src/lib.rs
Due: browser-runner, lambda-runner

Split logic::Error message to summary and details
  lang-runners/javascript/stdlib.js
  lang-runners/python/stdlib.py
  logic/src/types.rs
Due: lang-runners, browser-runner, lambda-runner

Allow robots to return `None`/`null`
  lang-runners/javascript/stdlib.js
  lang-runners/python/stdlib.py
Due: lang-runners, lambda-runner

Add runtime typechecking to both libs and mypy annotations to stdlib.py
  lang-runners/javascript/stdlib.js
  lang-runners/python/stdlib.py
Due: lang-runners, lambda-runner

Fix unresolved python annotations errors with "Class name forward references"
  lang-runners/python/stdlib.py
Due: lang-runners, lambda-runner

Fix stdlib.py bug with a missing `return` statement
  lang-runners/python/stdlib.py
Due: lang-runners, lambda-runner

Fix Python __format_err
  lang-runners/python/src/main.rs
  lang-runners/python/stdlib.py
Due: lang-runners, lambda-runner

Fix browser-runner build files being copied incorrectly
  build-wasm.sh
Due: none

Accurately get linenumber info for js errors
  lang-runners/javascript/stdlib.js
Due: lang-runners, lambda-runner

Remove note from error messages
  lang-runners/javascript/stdlib.js
Due: lang-runners, lambda-runner

Print out full backtrace from stdlib init error
  Cargo.lock
  lang-runners/python/Cargo.toml
  lang-runners/python/src/main.rs
Due: lang-runners, lambda-runner

Change python import namespacing and delete all imports after their use
  lang-runners/python/stdlib.py
Due: lang-runners, lambda-runner

Improve python enum __repr__
  lang-runners/python/stdlib.py
Due: lang-runners, lambda-runner

Incorporate null actions into the logic model rather than ignoring them
  lang-runners/javascript/stdlib.js
  lang-runners/python/stdlib.py
  logic/src/lib.rs
  logic/src/types.rs
Due: lang-runners, browser-runner, lambda-runner

Add more content to the stdlibs: 1) Direction.rotate_cw and Direction.rotate_ccw 2) MAP_SIZE constant 3) Allow Coords.add/Coords.sub to accept Direction as an argument
  lang-runners/javascript/stdlib.js
  lang-runners/python/stdlib.py
Due: lang-runners, lambda-runner

Add consistent __repr__ to Action and Obj
  lang-runners/javascript/stdlib.js
  lang-runners/python/stdlib.py
Due: lang-runners, lambda-runner

Move `ActionType` declaration in stdlib.py
  lang-runners/python/stdlib.py
Due: lang-runners, lambda-runner

Fix browser-runner build script again
  build-wasm.sh
Due: none

Update ci to rust 1.45
  .semaphore/semaphore.yml
Due: none

Improve build-wasm.sh script
  build-wasm.sh
Due: none

Add debugging statements to lambda
  env-runners/lambda/src/main.rs
Due: lambda-runner

Separate CI lang build step into two concurrent jobs
  .semaphore/semaphore.yml
Due: none

Remove CI caching messages
  .semaphore/semaphore.yml
Due: none

Fix lambda debugging messages
  env-runners/lambda/src/main.rs
Due: lambda-runner
